<!-- side-bar begin -->
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="text-primary fs-3 ms-2 fw-bolder">car</span><span class="fw-thin text-300 fs-3">Xpert</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  
                    <li>
                      <a routerLink="/cars" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <button type="button" class="btn btn-primary btn-block">
                          <i class="fa-solid fa-car black">     My cars</i>
                        </button>
                        </a>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <button type="button" class="btn btn-primary btn-block">
                            <i class="fas fa-dollar-sign">  Yearly expenses</i>
                          </button>
                          </a>
                    </li>
                    <li>  <button type="button" class="btn btn-danger margin-left" (click)="doLogout()"> 
                      <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
                    </button>  </li>
                    
                </ul>
                <hr>
               
            </div>
        </div>
        <!-- side-bar close -->
        <div class="container" style="width:50%">
    <div class="col ">
  
<canvas #chartCanvas></canvas>
</div> 

</div>
</div>
</div>